---
import MobileMenuFooter from "@astrojs/starlight/components/MobileMenuFooter.astro";
import Default from "@astrojs/starlight/components/PageFrame.astro";
import Analytics from "@components/Analytics.astro";

const { template } = Astro.locals.starlightRoute.entry.data;
---

<Default {...Astro.props}>
  <div transition:persist="header" slot="header">
    <slot name="header" />
  </div>
  <slot name="sidebar" slot="sidebar" />
  <slot />
  {
    template === "splash" && (
      <div class="md:sl-hidden">
        <MobileMenuFooter {...Astro.props} />
      </div>
    )
  }
</Default>

<Analytics />
