name: Run tests
on:
  pull_request:
  push:
    branches:
      - "**"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CI_RUN: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare-runner
      - run: cp .env.example .env
      - run: pnpm build
      - run: pnpm test
